<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console Appender for logging output -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        <!-- Date, Thread, Log level, RequestId, Message -->
%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'} [%t] LEVEL=%-5level TRACEID=%replace(%X{requestId:-null}){'null', ''} | %m%n%ex

      </pattern>    </encoder>
  </appender>

  <!-- Root Logger definition -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
