<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console Appender for logging output -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        TS=%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} [%t] LEVEL=%p CLASS=%logger{26} TRACEID=%X{Request-ID:-null} | %m%n%ex
      </pattern>
    </encoder>
  </appender>

  <!-- Root Logger definition -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
